.post {
  position: relative;
  background-color: #64c86420;
  flex-direction: column;
  border-radius: 20px;
  align-items: self-start;
  text-align: left;
  cursor: pointer;
  @media (max-width: 767px) {
   margin: 25px;
  }
  background-color: $secondary;
  &:hover{
    background-color: $primary;
    color: $white;
  }
  &-container {
    &__main {
      position: relative;
      border-radius: 10px;
      width: 100%;
      align-items: center;
      text-align: center;
    }
  }

  &:hover > .post-floatinactions {
    display:flex;
  }
  &-title {
    font-weight: bold;
    font-size: 16px;
    padding: 0px 20px 0;

    @media (max-width: 767px) {
      font-weight: bold;
      font-size: 14px;
      
    }
  }

  &-body {
    font-size: 16px;
    padding: 0 20px 10px;

    @media (max-width: 767px) {
      font-weight: bold;
      font-size: 10px;
    }
  }

  &-floatinactions {
    display: none;
    position: absolute;
    justify-content: space-between ;
    right: 0;
    top: 0;
    padding: 20px;

    > button {
      margin-right: 10px;
    }

    @media (max-width: 767px) {
      font-weight: bold;
      font-size: 10px;
      right: 0;
      padding: 10px 20px;
    }
  }

  &-user {
    font-size: 14px;
    font-weight: 800;
    padding: 20px;

    @media (max-width: 767px) {
      display: block;
      font-weight: 800;
      padding: 20px 20px 10px;
    }
  }
}