/*
 * BREAKPOINTS
 */
$breakpoints: (
  'small': 768px,
  'medium': 992px,
  'large': 1200px,
  'extra-large': 1900px,
) !default;

/*
   * COLORS
   */

$primary: #660099;
$secondary: #66009938;
$white: #fff;

// Custom Scroll(Perfect Scrollbar)
$custom-scrollbar-size:                             4px !default;
$custom-scrollbar-color:                            $primary !default;
